*{
    margin: 0px;
    padding: 0px;
}
:root{
    --FontParágrafos: 'League Spartan', sans-serif;
    --FontTitles: 'Marck Script', cursive;
}
@keyframes animelogo {
    0%{
        top: 30vh;
    }
    100%{
        top: 35vh;
    }
}
body{
    background-color: black;
}
#Topo{
    height: 70vh;
    max-width: 500px;
    margin: auto;
}
header{
    width: 100%;
}
#LinkInstagram{
    position: relative;
    top: 10px;
    left: 15px;
    height: 40px;
    width: 40px;
}
#LinkInstagram img{
    height: 40px;
}
#BoxLogo{
    position: absolute;
    width: 250px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0vh;
    left: calc(50% - 125px);
    z-index: 5000;
}
#BoxLogo img{
    width: 100px;
}
#Present{
    /*color: rgb(180, 156, 0);*/
    color: rgb(177, 0, 0);
    font-size: 15pt;
    font-weight: 400;
    font-family: var(--FontParágrafos);
}
#ImgModa{
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: calc(70vh - 200px);
}
@media (max-width: 500px) {
    #ImgModa{
        width: 100%;
    }
}
#Img1 img{
    height: 200px;
}
#Img2{
    height: 100px;
}
#Img2 img{
    height: 100px;
    margin-right: 50px;
}
#Img3{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 35vh;
    left: calc(50vw - 130px);
}
#Img3 img{
    height: 200px;
}
#Img4{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 25vh;
    left: calc(10vw);
    z-index: -1;
    display: none;
}
#Img4 img{
    height: 180px;
}
@media (max-width: 450px){
    #Img3{
        height: 80px;
        width: 80px;
        left: calc(50vw + 30px);
        top: 25vh;
    }
    #Img3 img{
        height: 130px;
    }
    #Img4{
        display: block;
    }
}
@media (max-width: 350px){
    #Img3{
        height: 150px;
        left: calc(50vw);
    }
    #Img3 img{
        height: 150px;
    }
    #Img4{
        height: 150px;
        left: calc(10vw)
    }
}
@media (max-height: 560px) {
    #ImgModa{
        top: calc(70vh - 150px);
        height: 150px;
    }
    #Img1{
        height: 150px;
    }
    #Img1 img{
        height: 150px;
    }
    #Img2{
        height: 100px;
    }
    #Img2 img{
        height: 100px;
    }
    #Img3{
        top: calc(50vh - 60px);
        left: calc(50vw - 130px);
    }
    #Img3 img{
        height: 150px;
    }
    #Img4{
        display: none;
    }
}
footer{
    height: calc(30vh + 50px);
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#cronometro{
    color: white;
    font-family: var(--FontParágrafos);
    font-size: 15pt;
    font-weight: 400;
    margin: auto;
    width: max-content;
}
article{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: black;
}
.Letra{
    color: white;
    font-family: var(--FontParágrafos);
    font-size: 10pt;
    margin-top: 5px;
}
.LetraAlert{
    margin-top: 5px;
    color: white;
    font-family: var(--FontParágrafos);
    font-size: 12pt;
}
#Local{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
#IconLocal{
    height: 15px;
}
.LocalLetra{
    color: gray;
    text-decoration: underline;
    font-family: var(--FontParágrafos);
    font-size: 10pt;
    font-weight: 500;
}
#Copy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-size: 8pt;
    margin-top: 20px;
    font-family: var(--FontParágrafos);
}
#parte1{
    color: rgb(148, 0, 0);
}